<header>
  <img src="{{ url_for('static', filename='/logo.png') }}" alt="Logo IF Oxicolor" style="height: 30px;">
  <h1>{{ page_title }}</h1>
  <select id="pageSelect" onchange="location.href=this.value">
    <option value="/">Menu Principal</option>
    <option value="/masseiras_live">Masseiras - Ao vivo</option>
    <option value="/masseiras_history">Masseiras - Histórico</option>
    <option value="/tanques_live">Tanques - Ao vivo</option>
    <option value="/tanques_history">Tanques - Histórico</option>
  </select>
  <script>
    const currentPath = window.location.pathname;
    const select = document.getElementById("pageSelect");
    for (let option of select.options) {
      if (option.value === currentPath) {
        option.selected = true;
        break;
      }
    }
  </script>
</header>
