<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Menu SCADA</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <style>
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 80px);
      padding: 20px;
    }
  </style>
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='/logo.png') }}" alt="Logo IF Oxicolor" style="height: 30px;">
    <h1>  - Menu SCADA</h1>
  </header>

  <main>
    <div class="menu">
      <!-- <h2>Selecione Tela</h2> -->
      <button onclick="location.href='/acompanhamento_prod'">Acompanhamento de Produção</button>
      <button onclick="location.href='/masseiras_live'">Masseiras - Ao vivo</button>
      <button onclick="location.href='/masseiras_history'">Masseiras - Dados Históricos</button>
      <button onclick="location.href='/tanques_live'">Tanques - Ao vivo</button>
      <button onclick="location.href='/tanques_history'">Tanques - Histórico</button>
    </div>
  </main>
</body>
</html>
