<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Menu SCADA</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <style>
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 80px);
      padding: 20px;
    }
  </style>
</head>
<body>
  <header>
    <img src="https://static.wixstatic.com/media/27d767_08537cbec0e841f784ee8e484439ef54~mv2.png/v1/fill/w_428,h_102,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Logo%20IF%20Oxicolor%20-%20Institucional%20Cor%20Site.png" alt="Logo IF Oxicolor">
    <h1>Menu SCADA</h1>
  </header>

  <main>
    <div class="menu">
      <!-- <h2>Selecione Tela</h2> -->
      <button onclick="location.href='/masseiras_live'">Masseiras - Ao vivo</button>
      <button onclick="location.href='/masseiras_history'">Masseiras - Dados Históricos</button>
      <button onclick="location.href='/tanques_live'">Tanques - Ao vivo</button>
      <button onclick="location.href='/tanques_history'">Tanques - Histórico</button>
    </div>
  </main>
</body>
</html>
